nogit
.nextflow
.nextflow.log
.nextflow.nohup.log
reports
results
work
nextflow.nohup.PID.txt
flowchart.png
.nextflow.log.*
nextflow_ci_branch.txt
report.html
body.json
google_api_credentials.json
sql_credentials.conf